.container{
    max-width: 500px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
}

.form-style input 
{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    border: 1px solid #ccc;
}
.form-style input:focus
{
    /*box-shadow: 0 0 5px #43D1AF;*/
    padding: 3%;
    border: 1px solid #43D1AF;
}
.input-group {
    margin-bottom: 13px;
}

button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*width: 100%;*/
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;  
    color: #fff;
}
small{
        color: gray;
}